*
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    box-sizing: border-box;
    padding: 10px 10px;
    margin: 0px 10px;   
    color: #fff;
}
body
{
    background: rgb(106,0,68);
    background: linear-gradient(90deg, rgba(106,0,68,1) 0%, rgba(20,0,17,1) 35%, rgba(0,0,0,1) 100%); 
}
#photo 
{
    padding: 0%;
    margin: 0%;
    height: 270px;
    display: inline;
    border-radius: 50%;
}
#Me
{
    position: relative;
    background: rgb(106,0,68);
    background: linear-gradient(90deg, rgba(106,0,68,1) 0%, rgba(20,0,17,1) 35%, rgba(0,0,0,1) 100%); 
    border-radius: 5px;
    top: 100px;
}

#subt
{
   display: inline;
   position: relative;
   background: none;
   top: 120px;
   
}
#adressfour
{
    display: inline;
    position: relative;
    right: 22px;
}
#fo
{
    background: none;
    border-top: solid;
}
header
{
    background: rgb(106,0,68);
    background: linear-gradient(90deg, rgba(106,0,68,1) 0%, rgba(20,0,17,1) 35%, rgba(0,0,0,1) 100%); 
    border-radius: 20px;
}
.linko:link
{
    color: #e0f;
}
.linko:visited
{
    color: #e0f;
}
.linko:hover
{
    color: #fff;
}
.linko:active
{
    color: #00aaff;
}
ul
{
    list-style-type:symbols(cyclic "Ꜿ");
}
#un 
{
    position: relative;
    right: 10px;
}
#sec
{
    position: relative;
    right: 10px;
}
#studies, #socialM,#PersonalInfo,#qualities,#workE
{
    display: none;
    border-bottom: #fff 2px solid;
}
@media screen and (max-width:1200px) 
{
    #Me
    {
        display: block;
        top: 100px;
        max-width: 100%;
    }
    #subt
    {
        top: 120px;
        background: none;
        padding-top: 10px;
        margin-top: 5px;
        padding-right: 5px;
    }
}
@media screen and (max-width:980px) 
{
    #Me
    {
        display: block;
        top: 70px;
        max-width: 100%;
        
    }
    #subt
    {
        top: 80px;
        background: none;
        padding-top: 10px;
        margin-top: 5px;
        padding-right: 5px;
    }
}
@media screen and (max-width:768px) 
{
    #Me
    {
        display: block;
        top: 15px;
        max-width: 100%;
    }
    #subt
    {
        top: 13px;
        background: none;
        padding-top: 0px;
        margin-top: 5px;
        padding-right: 5px;
    }
}
@media screen and (max-width:720px)
{
    #Me
    {
        display: block;
        top: 0%;
        max-width: 100%;
    }
    #subt
    {
        top: 0%;
        padding-right: 30px;
        background: none;
        padding-top: 0px;
        margin-top: 10px;
    }
}

@media screen and (max-width:540px) {
    #Me
    {
        top: 0%;
        display: block;
        max-width: 100%;
    }
    #subt
    {
        top: 0%;
        padding-top: 0px;
        padding-right: 10px;
        margin-top: 10px;
        background:none;
    }
    #firstR
    {
        height: 100px;
    }
}
@media screen and (max-width:472px) {
    #Me
    {
        display: block;
        max-width: 100%;

    }
    #subt
    {
        top: 0%;
        padding-top: 0px;
        padding-right: 10px;
        margin-top: 10px;
        background:none;
    }
    #firstR
    {
        height: 100px;
    }
}
